src/imitation_learning/training/__pycache__/
src/imitation_learning/training/training_imgs
src/imitation_learning/training/twist_json_file.json
/home/fizzer/ros_ws/src/controller_repo/src/imitation_learning/training/__pycache__/training_image_processing.cpython-38.pyc

